*.rej
*.orig
TAGS
*~
\#*#
.#*
.~lock.*\.*#
.DS_Store
.vscode
.idea
Makefile
gmon.out

cmake-build-debug
build
pvt

include/sta/StaConfig.hh

app/sta
app/libOpenSTA.*
app/sta.exe
app/sta.dSYM

# iverilog turd
examples/gcd_tb

doc/._Sta.docx

test/results
# ngspice turd
test/b3v3_1check.log
