*.o
*.a
*.lo
*.la
*.gcov
*.gcda
*.gcno
*.rej
*.orig
TAGS
*~
\#*#
.#*
.~lock.*#
.DS_Store
Makefile

/build
/pvt

# /util/
/util/StaConfig.hh

# /app/
/app/sta
/app/sta.exe
/app/sta.dSYM

# /doc/
/doc/._Sta.docx
/doc/.~lock.Sta.doc#
/doc/.~lock.Sta.odt#

# /tcl/
/tcl/history.tcl
/tcl/init.tcl

# /test/
/test/gmon.out
/test/results
# ngspice turd
/test/b3v3_1check.log

/test_native
